/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #000000;
}

.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: #145A59;
    height: 50px; /* Adjust as needed */
}

.header-bar .navbar-left {
    display: flex;
    align-items: center;
}

.header-bar .navbar-brand {
    font-size: 24px; /* Adjust as needed */
}

.header-bar .form-control {
    width: 200px; /* Adjust as needed */
}

.header-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Adjust as needed */
}

.header-bar a:hover {
    color: #ddd;
    text-decoration: none;
}

.header-bar .glyphicon {
    margin-right: 5px;
    font-size: 18px; /* Adjust as needed */
}
.header-bar ul li {
    display: inline-block;
}

.user-details {
    padding-bottom: 10px;
    margin: 42px 0 22px;
    border-bottom: 2px solid #ddd;
}

.login-form-container {
	max-width: 50%;
    padding-bottom: 10px;
    margin: 42px 250px 22px;
    border-bottom: 2px solid #ddd;
}

.login-panel {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.login-panel-body {
    padding: 15px;
}

.login-form-group {
    margin-bottom: 15px;
}

.login-form-control {
    display: block;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body > .container {
	padding: 60px 15px 0;
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.form-signup {
	max-width: 50%;
}

.form-login {
	max-width: 25%;
}

.questions-container {
	max-width: 55%;
}

.question-container {
	border-bottom: 1px solid;
	padding-top: 2%;
	padding-bottom: 2%;
}

.answer-container {
	border-bottom: 1px solid;
	padding-top: 2%;
	padding-bottom: 2%;
}

.answer-from {
	margin-top: 3%;
	margin-bottom: 3%;
}

.status-container {
	background-color: #666;
	padding: 5px;
}

.center-content {
	text-align: center;
}

.views-container {
	min-width: 30px;
	line-height: 2;
	border-radius: 30px;
}

.status-answer-count {
	min-width: 30px;
	line-height: 2;
	border-radius: 30px;
	color: #666;
	background-color: #fff;
}

.status-answer-text {
	color: #fff;
}

.tag-container {
	padding: 0.4em 0.8em 0.5em;
	font-size: 80%;
}

.username-text {
	text-align: right;
}
